:root {
  --cor-texto: #222;
  --cor-bg-body: #faf6ed;
  --cor-amarelo-1: #fb5;
  --cor-amarelo-2: rgb(129, 87, 24);
  --cor-amarelo-3: rgb(173, 113, 22);
  --cor-amarelo-4: rgb(221, 138, 14);
  --cor-sub-tit-1: #e54
}